# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
env/
venv/
.venv/

# Environment Variables
.env

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Distribution / Builds
build/
dist/
*.egg-info/
